
Flask==3.1.0
scipy==1.15.1
tensorflow==2.18.0
#create virtual environment 

# python -m venv myenv
# myenv\Scripts\activate
# source myenv/bin/activate
# pip install -r requirements.txt





#and use "pip install requirents.txt" command to install the dependecies in the project environment
